{% extends 'base.html.twig' %}

{% block title %} {{ page_name }}! ✅ {% endblock %}

{% block body %}
    {% include 'extension/sidebar.html.twig' %}
    <div class="main-footer">
        <h2 class="text-center">Module Logistique</h2>
        <p class="text-xl-center">Ce module concerne l'agent qui se charge des materiels de l'hôpital et de leur gestion <br/>
        Ce module comprends la gestion de stock, des inventaires, des procès verbeaux de receptions et autres documents</p>
    </div>
    {% include 'extension/footer.html.twig' %}
{% endblock %}
